<div id="hero">
  <div class="container">
    <h3>Create your trip</h3>
    <form class="form-inline"  #tripForm="ngForm">
        <div class="form-group mb-2">
          <input type="text" class="form-control" id="origin" autocorrect="off" autocapitalize="off" spellcheck="off" #originSearch placeholder="origin">
          <input type="hidden" >
       
        </div>
        <div class="form-group mx-sm-3 mb-2">
          <input type="text" class="form-control" id="destination" autocorrect="off" autocapitalize="off" spellcheck="off" #destinationSearch placeholder="destination">
        </div>
        <button type="submit" class="btn btn-primary mb-2">Go</button>
      </form>
  </div>
</div>
