<div id="hero">
  <div class="container my-3 home-container">
    <h2>Create your trip</h2>
    <form  #tripForm="ngForm">
        <div class="form-group mb-2">
          <input type="text" class="form-control" id="origin" autocorrect="off" autocapitalize="off" spellcheck="off" #originSearch placeholder="origin">  
        </div>
        <div class="form-group mb-2">
          <input type="text" class="form-control" id="destination" autocorrect="off" autocapitalize="off" spellcheck="off" #destinationSearch placeholder="destination">
        </div>
        <button type="submit" class="btn btn-primary mb-2W btn-block" [routerLink]="['/route']" routerLinkActive="router-link-active">Go</button>
      </form>
  </div>
</div>

<!-- <div class="col-12" >
  <button type="submit" class="btn btn-primary btn-block" [routerLink]="['/login']">Login</button>
  <hr>
  <a class="btn btn-success btn-block" [routerLink]="['/register']">Register</a>
</div> -->

