
<form class="col-12 mx-auto" #registerForm="ngForm" (ngSubmit)="onSubmitCreateUser(registerForm)" >
    <h2>
      Edit profile
  </h2>
  <div class="input-group mb-2">
    <div class="input-group-prepend">
      <span class="input-group-text"> <i class="fas fa-user"></i> </span>
    </div>
    <input type="text" class="form-control" [ngClass]="{ 'is-invalid': apiError || firstName.errors && firstName.touched }" name="firstName" placeholder="Name" [(ngModel)]="user.firstName" #firstName="ngModel" required firstName>
  </div>

  <div class="input-group mb-2">
    <div class="input-group-prepend">
      <span class="input-group-text"> <i class="fas fa-user"></i> </span>
    </div>
    <input type="text" class="form-control" [ngClass]="{ 'is-invalid': apiError || surname.errors && surname.touched }" name="surname" placeholder="Last name" [(ngModel)]="user.surname" #surname="ngModel" required surname>
  </div>

  <div class="input-group mb-2">
    <div class="input-group-prepend">
      <span class="input-group-text"> <i class="fas fa-envelope"></i> </span>
    </div>
    <input type="email" class="form-control" [ngClass]="{ 'is-invalid': apiError || email.errors && email.touched }" name="email" placeholder="user@exaple.org" [(ngModel)]="user.email" #email="ngModel" required email>
  </div>

  <div class="input-group mb-2">
    <div class="input-group-prepend">
      <span class="input-group-text"> <i class="fas fa-lock"></i> </span>
    </div>
    <input type="password" class="form-control"[ngClass]="{ 'is-invalid': apiError || password.errors && password.touched }" name="password" placeholder="Password" [(ngModel)]="user.password" #password="ngModel" required password>
  </div>

  <div class="">

    <button class="btn btn-success mb-2 btn-block" type="submit" [disabled]="!registerForm.valid">Register</button>

    <hr>
  </div>

</form>
