<div class="profileContainer">
    <div class="background">
        </div>

        <div class="container my-3">
            <div class="row">
                <div class="col-4">
                    <img [src]="user.image" alt="" class="imgRound">
                </div>
                <div class="col-6">
                        <h4 class="m-0">{{ user.firstName }} {{ user.surname }}</h4>
                </div>
            <div class="row">
                <div class="col-4">
                    <p class="badge badge-success mx-3 role m-0 role"><i class="fa fa-star"></i>&nbsp;New traveller</p>
                </div>
                <div class="col-8">
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit mattis luctus semper, cursus vestibulum at sed taciti platea magna molestie.</p>
                </div>


        </div>
       

        <div class="container my-3">
            <a [routerLink]="['edit']">Edit Profile</a>
        </div>


    </div>
</div>

    
    <div class="container my-3">
        <div class="row">
            <div class="col">
                <button type="button" class="profileButton" (click)="onClickShowTrips()">Your Trips</button>
                <div *ngIf="showTrips">
                    <app-trip-list [trips]="userTrips" [inUserProfile]="inUserProfile"></app-trip-list>
                </div>
            </div>
                <div class="col">
            <div class="col">
                <button type="button" class="profileButton" (click)="onClickShowPois()">Your Pois</button>
                <div *ngIf="showTrips"></div>
                    <app-poi-list-text [pois]="userPois" [inUserProfile]="inUserProfile"></app-poi-list-text>
                </div>
            </div>
        </div>
    
    </div> 

