<div class="profileContainer container my-3">

    <div class="my-3">

        <div class="row">
            <div class="col-4 text-center">
                <img [src]="user.image" alt="" class="imgRound mb-2">
    
                <p class="badge badge-success role m-0 role"><i class="fa fa-star"></i>&nbsp;New traveller</p>
    
            </div>
            <div class="col-8">
                    <h4 class="mb-2">{{ user.firstName }} {{ user.surname }}</h4>
    
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit mattis luctus semper, cursus vestibulum at sed taciti platea magna molestie.</p>
    
                    
                    <a class="btn btn-sm btn-primary" [routerLink]="['edit']">Edit Profile</a>
            </div>
        </div>

      
            
    </div>
        
    

    
        <div class="tabs-container">

            <ngb-tabset>
                <ngb-tab title="My trips" (click)="onClickShowTrips()">
                    <ng-template ngbTabContent >
                            <div *ngIf="showTrips" class="tab-padding">
                                <app-trip-list [trips]="userTrips" [inUserProfile]="inUserProfile"></app-trip-list>
                            </div>
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="My pois" (click)="onClickShowPois()">
                    <ng-template ngbTabContent>
                        <div *ngIf="showTrips" class="tab-padding">
                            <app-poi-list-text [pois]="userPois" [inUserProfile]="inUserProfile"></app-poi-list-text>
                        </div>        
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>


            <!-- <div class="col">
                <button type="button" class="profileButton" (click)="onClickShowTrips()">Your Trips</button>
                <div *ngIf="showTrips">
                    <app-trip-list [trips]="userTrips" [inUserProfile]="inUserProfile"></app-trip-list>
                </div>
            </div>
                <div class="col">
            <div class="col">
                <button type="button" class="profileButton" (click)="onClickShowPois()">Your Pois</button>
                <div *ngIf="showTrips">
                    <app-poi-list-text [pois]="userPois" [inUserProfile]="inUserProfile"></app-poi-list-text>
                </div>
            </div> -->
    
    </div> 

