<div class="profileContainer">
    <div class="background">
        </div>

        <div class="container my-3">
            <div class="row">
                <div class="col-4">
                    <img [src]="user.image" alt="" class="imgRound">
                </div>
                <div class="col-6">
                        <h4 class="m-0">{{ user.firstName }} {{ user.surname }}</h4>
                </div>
            <div class="row">
                <div class="col-4">
                    <p class="badge badge-success mx-3 role m-0 role"><i class="fas fa-star"></i>&nbsp;New traveller</p>
                </div>
                <div class="col-8">
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit mattis luctus semper, cursus vestibulum at sed taciti platea magna molestie.</p>
                </div>


        </div>
       

        <div class="container my-3">
            <a [routerLink]="['edit']">Edit Profile</a>
        </div>


    </div>
</div>

    
    <div class="container my-3">
        <div class="row">
            <div class="col">
                <h3>Your Trips</h3>
                <app-trip-list [trips]="userTrips" ></app-trip-list>
            </div>
            <div class="col">
                <h3>Your Pois</h3>
                xxx
            </div>
        </div>
    
    </div> 

