<div class="row mb-5">
  <div class="col-12">
    <h4>Create your trip</h4>
    <form (ngSubmit)="onSubmitTripForm()" #tripForm="ngForm">

      <div class="input-group sm-card mb-2">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-map-marker"></i></span>
        </div>
        <div class="form-control h-auto">
          <div class="placeholder-text" *ngIf="tripPois.length <= 0">
            (Stops will appear here as you click and save a pin)
          </div>
          <h4 *ngFor="let tripPoi of tripPois" class="d-inline">
              <span class="badge badge-dark">{{ tripPoi.name }}</span>
          </h4>
        </div>
      </div>
      
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fa fa-font"></i></span>
        </div>
        <input type="text" class="form-control" [ngClass]="{'is-invalid': name.touched && name.errors}" placeholder="Name your trip here"
          name="name" [(ngModel)]="trip.name" #name="ngModel" required>
        <div class="invalid-feedback" *ngIf="name.errors && name.touched && name.errors.required">
          Give your trip a name.
        </div>
      </div>
      
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fa fa-edit"></i></span>
        </div>
        <textarea type="text" class="form-control" [ngClass]="{'is-invalid': description.touched && description.errors}" placeholder="You can put a description of your trip here"
          name="description" [(ngModel)]="trip.description" #description="ngModel"></textarea>
        <div class="invalid-feedback" *ngIf="description.errors && description.touched && description.errors.required">
          
        </div>
      </div>
                  

      <!-- <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fa fa-file-o"></i></span>
        </div>
        <div class="custom-file">
          <input type="file" name="gallery" class="custom-file-input" #tripFiles multiple (change)="onChangeGalleryFile(tripFiles)">
          <label class="custom-file-label">Choose files</label>
        </div>
        <div class="invalid-feedback" *ngIf="tripFiles.errors">
          Please choose a file.
        </div>
      </div> -->

      <div class="form-actions">
        <button type="submit" class="btn btn-primary btn-block" [disabled]="!tripForm.valid">Create</button>
      </div>
    </form>
  </div>
</div>