<agm-map [latitude]="lat" [longitude]="lng">
  <agm-direction [origin]="origin" [destination]="destination">
  </agm-direction>
<div *ngFor="let poi of pois | poisFilter:searchPattern">
  <agm-marker *ngIf="poi.location.length === 2"
    [latitude]="poi.location[0]" [longitude]="poi.location[1]"
  ></agm-marker>
</div>
</agm-map>

<div class="form-group">
    <label for="exampleFormControlSelect2">Example multiple select</label>
    <select multiple class="form-control" id="exampleFormControlSelect2" [(ngModel)]="searchPattern" name="searchPattern">
        <option value="Museum" class="form-control">Museum</option>
        <option value="Town" class="form-control">Town</option>
        <option value="Scenary" class="form-control">Scenary</option>
        <option value="Monument" class="form-control">Monument</option>
        <option value="Walk" class="form-control">Walk</option>
    </select>
</div>

 <!-- <input type="text" name="searchPattern" [(ngModel)]="searchPattern" placeholder="search"> -->
