<agm-map [latitude]="lat" [longitude]="lng">
  <agm-direction [origin]="origin" [destination]="destination">
  </agm-direction>
<div *ngFor="let poi of pois | poisFilter:searchPattern | poiRatingFilter:searchPatternRating">
  <agm-marker *ngIf="poi.location.length === 2"
    [latitude]="poi.location[0]" [longitude]="poi.location[1]"
  ></agm-marker>
</div>
</agm-map>

<div class="form-group">
    <label for="exampleFormControlSelect2">Example multiple select</label>
    <select multiple class="form-control" id="exampleFormControlSelect2" [(ngModel)]="searchPattern" name="searchPattern">
        <option value="Museum" class="form-control">Museum</option>
        <option value="Town" class="form-control">Town</option>
        <option value="Scenary" class="form-control">Scenary</option>
        <option value="Monument" class="form-control">Monument</option>
        <option value="Walk" class="form-control">Walk</option>
    </select>
</div>

<div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="searchPatternRating" id="inlineRadio1" value="1" [(ngModel)]="searchPatternRating">
    <label class="form-check-label" for="inlineRadio1">1</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="searchPatternRating" id="inlineRadio2" value="2" [(ngModel)]="searchPatternRating">
    <label class="form-check-label" for="inlineRadio2">2</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="searchPatternRating" id="inlineRadio3" value="3" [(ngModel)]="searchPatternRating">
    <label class="form-check-label" for="inlineRadio3">3</label>
  </div>
  <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="searchPatternRating" id="inlineRadio3" value="4" [(ngModel)]="searchPatternRating">
      <label class="form-check-label" for="inlineRadio3">4</label>
  </div>
  <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="searchPatternRating" id="inlineRadio3" value="5" [(ngModel)]="searchPatternRating">
      <label class="form-check-label" for="inlineRadio3">5</label>
  </div>

<button type="submit" class="btn btn-primary mb-2" >Create trip</button>

<app-trip-create></app-trip-create>