<div *ngIf="trip && origin && destination">

    <app-list [origin]="origin" [destination]="destination"></app-list>

    <div class="form-wrap">

        <button class="btn btn-primary" (click)="formIsCollapsed = !formIsCollapsed"
          [attr.aria-expanded]="!formIsCollapsed" aria-controls="formCollapse">Create trip</button>
        
        <div id="formCollapse" [ngbCollapse]="!formIsCollapsed" class="mt-3">
            <app-trip-form [tripPois]="tripPois" [trip]="trip"></app-trip-form>
        </div>
        
    </div>
  
  </div>

