<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="['/']" href="javascript:;">
    WAYFINDER
  </a>

  <button class="navbar-toggler" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" aria-controls="menuCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" [ngbCollapse]="!isNavbarCollapsed"  id="menuCollapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown" ngbDropdown *ngIf="user">
        <a class="nav-link dropdown-toggle" id="menuDropdown" ngbDropdownToggle>Me</a>
        <div class="dropdown-menu bg-dark" ngbDropdownMenu aria-labelledby="menuDropdown">
          <ul class="dropdown-nav">
            <li class="nav-item" (click)="isNavbarCollapsed = !isNavbarCollapsed">
              <a class="dropdown-item nav-link" [routerLink]="['profile', user.id]">
                My profile
              </a>
            </li>
            <li class="nav-item" (click)="isNavbarCollapsed = !isNavbarCollapsed">
              <a class="dropdown-item nav-link" [routerLink]="['/trips']">
                My trips
              </a>
            </li>
        </ul>
      </div>
      </li>
      <li class="nav-item"(click)="isNavbarCollapsed = !isNavbarCollapsed">
        <a class="nav-link" [routerLink]="['/']">new trip</a>
      </li>
      <li class="nav-item" (click)="isNavbarCollapsed = !isNavbarCollapsed"  >
        <a class="nav-link" [routerLink]="['/pois']" >new POI</a>
      </li>
      <li class="nav-item" *ngIf="!user" (click)="isNavbarCollapsed = !isNavbarCollapsed">
        <a class="nav-link" [routerLink]="['/login']">Login</a>
      </li>
      <li class="nav-item" *ngIf="!user" (click)="isNavbarCollapsed = !isNavbarCollapsed">
        <a class="nav-link" [routerLink]="['/register']">Register</a>
      </li>
      <li class="nav-item" *ngIf="user" (click)="isNavbarCollapsed = !isNavbarCollapsed">
        <button class="nav-link btn btn-link" (click)="onClickLogout()">Logout</button>
      </li>
    </ul>
  </div>
</nav>